@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    color: #0019FF ;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
a{
    color: #0019FF;
}
.quote{
    font-size: 36px;;
}
.link-books{
    font-size: 25px;
    text-decoration: underline;
}
.main-picture{
    margin-left: 50px;
}
.my-container{
    margin: 0 40px;
}
.my-btn{
    color: #fff;
    background-color: #0019FF;
}
.brdr{
    border: #000 solid;
}
#error-alert{
  font-size: 12px;
}

@media only screen and (min-width: 992px) {
    .site-logo{
        width: 175px;
        padding-bottom: 9px;
    }
    .user-icon{
        width: 40px;
    }
}
@media only screen and (max-width: 992px) {
    .site-logo{
        width: 150px;
    }
    .user-icon{
        width: 20px;
    }
    .my-container{
        margin: 0 20px;
    }
    .quote{
        font-size: 28px;;
    }
    .link-books{
        font-size: 17px;
    }
    
}
@media only screen and (max-width: 576px) {
    .site-logo{
        width: 130px;
    }
    .my-container{
        margin: 0 10px;
    }
    .search-btn{
        font-size: 12px;
    }
    .search-input{
        width: 180px;
        font-size: 12px;
    }
    .nav-btn{
        width: 40px;
    }
    .quote{
        font-size: 19px;;
    }
    .link-books{
        font-size: 12px;
    }
    .main-picture{
        margin-left: 0px;
    }
}
/* for modals */
.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group > input,
  .form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
  }
  
  .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
  }
  
  .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  


