{% extends 'base.html' %}
{% load static %}
{% block title %}
Login
{% endblock title %}
{% block content %}
    <!-- form for login -->
    <form class="form-signin pt-5" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            <p>
                Login to access all our services.
            </p>
        </div>

        <div class="form-label-group">
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            <label for="email">Username</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            <label for="password">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block rounded-pill" type="submit">Log In</button>
        <p class="mb-3 text-muted text-center pt-1">Dont Have an account? <a href="#" class="signup-toggle">Register Here.</a></p>
    </form>
{% endblock %}