{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Home</title>
	<!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    /> -->
	<link rel="stylesheet" href="{% static 'CSS/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
</head>

<body>
	<!-- navbar -->
	<div class="my-container">
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand" href="#"><img src="{% static 'images/ShareBooks.png' %}" alt=""
					class="site-logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span><img src="{% static 'images/ham.png' %}" class="nav-btn" alt="navigation button"></span>
			</button>
			<div class="collapse navbar-collapse " id="navbarNavDropdown">
				<ul class="navbar-nav ml-auto justify-content-center">
					<li class="nav-item dropdown ml-2">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="{% static 'images/user.png' %}" alt="user photo" class="user-icon">
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							{% if user.is_authenticated %}
								<a class="dropdown-item" href="#">My Profile</a>
								<a class="dropdown-item" href="#">SignasdfUp</a>
								<a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
							{% else %}
								<a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalSignup">Sign Up</a>
								<a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalLogin">Log In</a>
							{% endif %}
						</div>
					</li>
					<li class="nav-item pt-2 ml-2">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item pt-2 ml-2">
						<a class="nav-link" href="#">Book Collection</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<!-- search button -->
	<div class="my-container">
		<form class="form-inline my-2 my-lg-0 justify-content-center">
			<input class="form-control rounded-pill search-input" type="search" placeholder="Search"
				aria-label="Search">
			<button class="btn my-btn rounded-pill search-btn" type="submit">Search</button>
		</form>
		<hr>
	</div>
	<!-- content -->

	<div class="my-container">
		{% block content %}
		{% endblock content %}
	</div>
	<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Log In</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form class="login-form">
					{% csrf_token %}
					<div class="modal-body">
						<div class="form-label-group">
							<input type="text" id="username" class="form-control" placeholder="Email address"
								required autofocus>
							<label for="username">Username</label>
						</div>

						<div class="form-label-group">
							<input type="password" id="password" class="form-control" placeholder="Password"
								required>
							<label for="password">Password</label>
						</div>
					</div>
					<div class="modal-footer">
						<p id="error-alert-login" class="text-danger mr-auto">fffff</p>
						<button type="Submit" class="btn btn-primary btn-block rounded-pill">Log In</button>
					</div>
				</form>
				<p class="mb-3 text-muted text-center">Dont Have an account? <a href="#" class="signup-toggle">Sign Up!</a></p>
			</div>
		</div>
	</div>
	<!-- model signup-div -->
	<div class="modal fade" id="modalSignup" tabindex="-1" role="dialog" aria-labelledby="modalSignup"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form class="register-form">
					{% csrf_token %}
					<div class="modal-body">
						<div class="form-label-group">
							<input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username"
								required autofocus>
							<label for="inputUsername">Username</label>
						</div>
						<div class="form-label-group">
							<input type="email" id="inputEmail" name="email" class="form-control"
								placeholder="Email address" required autofocus>
							<label for="inputEmail">Email address</label>
						</div>

						<div class="form-label-group">
							<input type="password" id="inputPassword" name="password" class="form-control"
								placeholder="Password" required>
							<label for="inputPassword">Password</label>
						</div>
						<div class="form-label-group">
							<input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
								placeholder="Confirm Password" required>
							<label for="confirmPassword">Confirm Password</label>
						</div>
					</div>
					<div class="modal-footer">
						<p id="error-alert" class="text-danger mr-auto"></p>
						<button type="Submit" class="btn btn-primary btn-block rounded-pill">Register</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script src="{% static 'JS/jquery-3.4.1.js' %}"></script>
<script src="{% static 'JS/bootstrap.bundle.js' %}"></script>
<script src="{% static 'JS/base.js' %}"></script>

</html>